<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">

    <style>
        body, html{
            height: 100%;
            margin: 0;
            justify-content: center;
            align-items: center;
            text-align:center;
        }
    </style>

</head>
<body>
    <h1>Self Assessment</h1>
    <form action="/">
    <button> Questions Library </button">
    </form>
    <form action="/">
    <button> Quizzes </button>
    </form>
</body>
</html>